.chat-page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 0px;
}

.back-btn {
    position: absolute;
    top: 0px;
    left: 40px;
    padding: 15px;
    background-color: #ee5858;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    transition: all ease 0.5s;
}

.back-btn:hover {
    background-color: #ee585883;
    cursor: pointer;
}

.chat-title {
    line-height: 50px;
    padding-bottom: 20px;
    margin: 0;
}

.chat-messages-window {
    height: 70vh;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-message-row {
    display: flex;
    flex-direction: column;
}

.chat-message {
    padding: 20px;
    text-align: justify;
    width: fit-content;
}

.chat-message.message-out {
    border: 1px solid #008cff;
    background-color: #008cff11;
    margin: 5px 20px 5px 100px;
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
}

.chat-message.message-in {
    border: 1px solid #888888;
    background-color: #88888811;
    margin: 5px 100px 5px 20px;
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
}

.chat-send-message-row {
    padding: 30px;
    width: 40%;
    display: flex;
    align-self: center;
}

.chat-message-input {
    flex: 0.9;
}

.chat-submit-btn {
    flex: 0.1;
}