.app {
  text-align: center;
}

.app-header {
  background-color: #008cff;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  border-bottom: 5px solid #00345f;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0% { transform: rotateY(0deg); }
  100%  { transform: rotateY(360deg); }
}
